.span {
    display: flex;
    align-items: center;
    width: 100%;
    gap: var(--space-md);
}

.primary {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: var(--space-sm);
    font-weight: 600;
    padding: var(--space-lg);
    border: 1px solid var(--black);
    border-radius: var(--radius-lg);
    box-sizing: border-box;
    cursor: pointer;
    transition: border-color .3s ease-in-out;
    background: transparent;
    color: black;

    &:hover {
        border-color: var(--primary);
    }
}

.secondary {
    display: flex;
    width: fit-content;
    box-sizing: border-box;
    align-items: center;
    cursor: pointer;
    border: none;
    background: var(--primary);
    gap: var(--space-md);
    padding: var(--space-lg);
    border-radius: var(--radius-lg);
    transition: background-color .3s ease-in-out;
    font-weight: 600;


    &:hover {
        background-color: var(--black);
    }
}

.tertiary {
    width: 100%;
    padding: var(--space-lg);
    border-radius: var(--radius-md);
    background: linear-gradient(to right, var(--black), var(--tertiary));
    border: 1px solid var(--black);
    cursor: pointer;
    color: var(--white);
    transition: .2s ease-in-out background;
    position: relative;
    z-index: 0;
    overflow: hidden;

    svg {
        color: var(--white);
        font-size: 20px;
    }

    .span {
        z-index: 1;
        position: relative;
    }

    &::before {
        content: '';
        position: absolute;
        background: black;
        z-index: -1;
        inset: 0;
        opacity: 0;
        transition: .3s ease opacity;


    }

    &:hover::before {
        opacity: 1;
    }
}