.nav {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    box-sizing: border-box;
    background-color: var(--primary);


    .tool {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bolder;
    }

    .nav_buttons {
        display: flex;
        gap: var(--space-md);
        height: 100%;
        align-items: center;

        .button {
            color: var(--white) !important;
            border: 2px solid var(--secondary);
            border-radius: var(--radius-full);
            padding: var(--space-md);
            transition: border-color .2s ease-in-out;

            &:hover {
                border-color: var(--accent);
            }
        }

        .highlight {
            color: var(--white);
            transition: color .2s ease-in-out;

            &:hover {
                color: var(--accent);
            }
        }
    }
}