.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    box-sizing: border-box;
    background-color: var(--black);
    box-shadow: 0px 0px 6px 1px var(--accent);
    position: sticky;

    .nav_buttons {
        display: flex;
        gap: var(--space-md);
        height: 100%;
        align-items: center;

        .button {
            color: var(--white) !important;
            border: 2px solid var(--secondary);
            border-radius: var(--radius-full);
            padding: var(--space-md);
            transition: border-color .2s ease-in-out;

            &:hover {
                border-color: var(--accent);
            }
        }

        .highlight {
            color: var(--white);
            transition: color .2s ease-in-out;

            &:hover {
                color: var(--accent);
            }
        }
    }
}

.highlight {
    color: var(--accent)
}

.header {
    width: 100%;
    height: 100%;

    .header_wrapper {
        max-height: 500px;
        height: 100dvh;
        width: 100%;
        box-sizing: border-box;
        padding: var(--space-lg);
        gap: var(--space-lg);


        .header_dropper_box {
            display: flex;
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            border: 1px solid var(--white);
            background-color: var(--black);
            border-radius: var(--radius-lg);
            gap: var(--space-md);
            cursor: pointer;
            transition: .2s ease-in-out border-color;
            position: relative;

            .dropper_img_wrap {  
                padding: var(--space-lg);
                background: var(--primary);
                border-radius: var(--radius-full);
                aspect-ratio: 1/1;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0px 0px 4px 0px var(--accent);

            }

            .dropper_link {
                color: var(--accent);
            }

            &:hover {
                border-color: var(--accent);
            }

            #file-input {
                width: 100%;
                height: 100%;
                position: absolute;
                cursor: pointer;
                opacity: 0;
            }
        }

        .header_images_container{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            align-items: center;
            justify-content: start;
            gap: var(--space-md);
            padding: var(--space-md);


            .image_preview{
                height: 50px;
                width: 100%;
                display: flex;
            }

        }
    }
}