:root {
    --text: #FFFFFF;
    --text-secondary: #bbbbbb;

    --white: #d1f1fd;
    --black: #0f172a;

    --primary: #061122;
    --secondary: #112649;
    --tertiary: #295BF6;

    --accent: #2E4569;
    --contrast: #cbd5e1;

    --space-sm: 4px;
    --space-md: 8px;
    --space-lg: 16px;
    --space-xl: 32px;

    --radius-sm: 8px;
    --radius-md: 16px;
    --radius-lg: 32px;
    --radius-full: 99px;

}
#root {
    height: 100%;
    width: 100%;

    background: black;
}

.container {
    max-width: 1440px;
    border: none;
    margin: 0 auto;
}

.local_anchor {
    pointer-events: none;
}

.text_overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}
a,
ul,
li {
    text-decoration: none;
    list-style: none;
}

*>:active,
*>:visited {
    text-decoration: none;
    list-style: none;
    color: inherit;
}

* {
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
}

html {
    text-align: center;
    color: white;
}

body {
    margin: 0;
    color: white;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    height: 100vh;
    background-color: var(--primary);
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: transparent;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    border-radius: var(--radius-full);
    background: white;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: var(--radius-full);
    background: var(--tertiary);
    box-shadow: 0 0 4px var(--tertiary);
    margin-top: -5px;

}


input[type="range"]::-moz-range-track {
    height: 10px;
    border-radius: var(--radius-full);
    background: white;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: var(--radius-full);

    background: var(--tertiary);
    box-shadow: 0 0 4px var(--tertiary);

    cursor: pointer;
}


input[type="range"]::-ms-track {
    width: 100%;
    height: 10px;

    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
    background: white;
    border-radius: var(--radius-full);
}

input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: var(--radius-full);

    background: var(--tertiary);
    box-shadow: 0 0 4px var(--tertiary);
    cursor: pointer;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
        url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    height: 100vh;
    text-align: center;
}